@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajustes globales simples */
:root {
  --radius: 14px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

img {
  image-rendering: -webkit-optimize-contrast;
}
